#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.read-the-docs {
  color: #888;
}
.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: rgb(137, 137, 137);
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding-left: 0px;
}